{% extends 'registration/base.html' %}
{% block content %}
Subjects:
{{error}}
<form action="{% url 'subject_create' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Create Subject</button>
</form>
{% endblock %}