{% extends 'registration/base.html' %}
{% block content %}

Student Blogs

{{error}}

<form action="{% url 'student_create' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type = "submit">Create</button>
</form>
{% endblock %}