<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
</head>
<body>
    {% if user.is_authenticated %}
    Student: {{user.username}}
    <form action="{% url 'logout_user' %}" method="POST">
       {% csrf_token %}
       <button type="submit">LogOut</button>
    </form>    
    {% else %}
    <a href="{% url 'login_user' %}">LogIn</a>
    <a href="{% url 'registration' %}">SignUp</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>