{% extends 'registration/base.html' %}
{% block content %}
LOGIN
{{error}}
<form action = "{% url 'login_user' %}" method = "POST">
   {% csrf_token %}
   {{form.as_p}}
   <button type="submit">Submit</button>
</form>
{% endblock %}