{% extends 'registration/base.html' %}
{% block content %}
<h3>{{error}}</h3>
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    
    <br>
    <button type="Submit">Sign In</button>
</form>
{% endblock %}